* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background: linear-gradient(to right, #0b0a0a, #292336, #181818);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgba(24, 27, 39, 0.25);
  border: 1px solid rgba(24, 27, 39, 0.3);
  backdrop-filter: blur(10px);
  padding: 10px 30px;
  border-radius: 25px;
  width: fit-content;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 20px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navbar a:hover {
  color: #da9696;
  transform: scale(1.08);
}


.navbar a.active {
  background: linear-gradient(to right, #ff416c, #ff4e00);
  color: white;
}
.navmain{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  background: rgba(24, 27, 39, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 -2px 10px rgba(255, 255, 255, 0.02);
  color: #ffffffb0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 16px 20px;
  margin-top: auto;
  gap: 15px;
  border-radius: 25px 25px 0 0;
}
.social-footer {
  display: flex;
  gap: 25px;
}

.social-footer a {
  color: #ffffffcc;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.social-footer a:hover {
  color: #da9696;
  transform: scale(1.04);
}

.footer-text {
  font-size: 15px;
  color: #bbb;
}

.container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.box {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  background: rgba(41, 35, 54, 0.85);
  border-radius: 35px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  width: fit-content;
  max-width: 90vw;
}

.box p {
  font-size: 36px;
  font-weight: 500;
  color: #e0dede;
  text-align: center;
  padding-bottom: 20px;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.05);
}

.box input{
  padding: 20px;
  background-color: #d4d2da;
  font-size: large;
  font-weight: 300;
  border: none;
  border-radius: 10px;
}
.calculate{
  padding: 14px 24px;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(to right, #412e5c, #0e2b5c);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
