* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}


body {
  background: linear-gradient(to right, #0b0a0a, #292336, #181818);
  color: white;
}

.navmain{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgba(24, 27, 39, 0.25);
  border: 1px solid rgba(24, 27, 39, 0.3);
  backdrop-filter: blur(10px);
  padding: 10px 25px;
  border-radius: 25px;
  width: fit-content;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 20px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navbar a:hover {
  color: #da9696;
  transform: scale(1.08);
}


.navbar a.active {
  background: linear-gradient(to right, #ff416c, #ff4e00);
  color: white;
}

.footer {
  
  width: 100%;
  background: rgba(24, 27, 39, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 -2px 10px rgba(255, 255, 255, 0.02);
  color: #ffffffb0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 16px 20px;
  margin-top: auto;
  gap: 15px;
  border-radius: 25px 25px 0 0;
}

.social-footer {
  display: flex;
  gap: 25px;
}

.social-footer a {
  color: #ffffffcc;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.social-footer a:hover {
  color: #da9696;
  transform: scale(1.04);
}

.footer-text {
  font-size: 15px;
  color: #bbb;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid rgb(20, 21, 21);
    border-radius: 5px;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  gap:0px;
    padding: 10px 20px;
    background-color: rgb(20, 21, 21);
    color: white;
    width: 150px;;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


  .repo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
  }

  .repo-box {
    background-color: #000;
    color: white;
    padding: 20px 40px;
    border-radius: 8px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
    text-align: center;
  
    transition: transform 0.3s;
  }

  .repo-box:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

h1{
    text-align: center;
    padding: 20px;
}