* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Quicksand;
    
}
body{
    background-color: rgb(206, 199, 117);
}
.navbar {
    background-color: rgb(20, 21, 21);
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.projects {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* Two columns */
    gap: 10px;  /* Spacing between items */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.project {
    padding: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    color: rgb(255, 252, 252);
    transition: 0.3s ease;
    font-size: 1.2rem;
    
}

.project:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.05);
    cursor: pointer;
    color: black;
}
